<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/blanch.lst/src/jp/co/iccom/suganuma_haruka/calculate_sales/BlanchList.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="jp.co.iccom.suganuma_haruka.calculate_sales.BlanchList"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="blanch.lst"/>
</launchConfiguration>
